body{
    background-color: rgb(49, 94, 190);
    margin: 0;
}
.jojo{
    float: left;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 450px;
    height: 250px;
    width: 400px;
   
}
.bonita{
    color: aliceblue;
    font-size: 60px;
    margin: 0px;
}
